$clr-purple: #110125;
$clr-lightpurp: #A176D1;
$clr-crimson: #442A36;
$nrbs-blue: #000c1e;
$nrbs-lightblue: #002863;
$nrbs-darkblue: #001B43;
$text: #fff;
$link: #e34234;
$link-hover: #ba160c;
$background: #00356B;